<table class="table table-bordered">
    <tbody>
        <tr>
            <td>
                <h2><%= @info.title%></h2>
            </td>
        </tr>
        <tr>
            <td><%= @info.description%></td>
        </tr>
    </tbody>
</table>
