/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.service-box {
  /* 副标题 */
  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  /* 短分隔线 */
  .short-line {
    background: #0070DE;
    margin: 15px auto 30px auto;
    width: 150px;
    height: 1.5px;
  }
}

//----------footer---------//
footer {
  color: white;
}

footer .footer-below {
  padding: 25px 0;
  background-color: #333;
}

.navbar-brand a {
  color: #f44336;
}

.button {
  font-size: 30px;
}

.header {
  width: 1200px;

  /*宽度1200px*/
  margin: 0 auto;

  /*水平居中*/
  margin-top: 30px;

  /*上边距*/
}

.logo {
  float: left;

  /*logo、seatch、cart这三个模块都是用div包起来的，是block元素，如果要处于同一行，那就要加float*/
  margin-right: 180px;

  /*加点右边距，和search模块拉开距离*/
}

.logo a {
  font-size: 36px;

  /*设置字体36px*/
  color: #C81623;

  /*红色*/
  text-decoration: none;

  /*不要下划线*/
}

.search {
  float: left;

  /*logo、seatch、cart这三个模块都是用div包起来的，是block元素，如果要处于同一行，那就要加float*/
  width: 400px;
  margin-left: 40px;

  /*右边距*/
  margin-top: 10px;

  /*上边距*/
  position: relative;

  /*相对定位*/
}

.search-input {
  width: 400px;
  height: 36px;
  line-height: 36px;

  /*设置行高，实现垂直居中，口诀「如果高度等于行高，那就实现了文本的垂直居中」*/
  color: #666;
  padding: 4px 20px;

  /*调一下上下左右边距*/
  border-width: 2px;

  /*边框宽度为2px*/
  border-color: #D32048;

  /*设置边框颜色为红色*/
  border-style: solid;

  /*设置为实线*/
  font-size: 14px;

  /*字体14px*/
  font-family: "microsoft yahei";

  /*设置成微软雅黑字体*/
  border-radius: 20px;

  /*圆角20px*/
}

.search-button {
  width: 54px;
  height: 36px;
  border: none;

  /*去掉button默认的border*/
  background: none;

  /*去掉button默认的背景颜色*/
  font-family: "Microsoft YaHei";
  font-size: 16px;
  position: absolute;

  /*绝对定位*/
  cursor: pointer;

  /*鼠标一上去，显示手型*/
  top: 0;
  right: 0;
}

.search-button .fa-search {
  color: #d32048;

  /*搜索图标的颜色*/
}

.cart-wrap {
  float: left;

  /*logo、seatch、cart这三个模块都是用div包起来的，是block元素，如果要处于同一行，那就要加float*/
  margin-top: 10px;

  /*上边距*/
  margin-left: 238px;

  /*左边距*/
}

.cart {
  padding: 8px 20px;

  /*加内边距*/
  cursor: pointer;

  /*鼠标一上去，显示手型*/
  border: 1px solid #DFDFDF;

  /*1像素，实线，灰色*/
  background: #F5F5F5;

  /*灰色背景*/
  font-size: 12px;

  /*字体小一点好看*/
}

.fa-shopping-cart {
  color: #C81623;

  /*红色图标*/
  font-size: 16px;

  /*图标大一点好看*/
  margin-right: 10px;

  /*右边距*/
}

.cart a {
  color: #6D6D6D;

  /*灰色字体*/
  text-decoration: none;

  /*不要下划线*/
}

.cart a:hover {
  color: #C81623;

  /*鼠标一上去的时候，字体变成红色*/
}

/*商品列表*/
.pt20 {
  padding-top: 20px;
}

.w1200 {
  width: 1200px;
}

.bc {
  margin-left: auto !important;
  margin-right: auto !important;
}

.pb20 {
  padding-bottom: 20px;
}

.clearfix {
  display: block;
}

ul {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.p15 {
  padding: 15px;
}

.pr {
  position: relative;
}

.fl {
  float: left;
  display: inline;
}

.h200 {
  height: 200px;
}

.w200 {
  width: 200px;
}

p {
  margin: 0 0 10px;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

a {
  color: #6D6D6D;
}

a {
  text-decoration: none;
}

a {
  background-color: transparent;
}

a:-webkit-any-link {
  cursor: auto;
}

.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.productList-item-name {
  color: #333;
}

.mt5 {
  margin-top: 5px;
}

.f12 {
  font-size: 12px;
}

.productList-item-desc {
  color: #808080;
}

.productList {
  margin: 20px auto;
  width: 1200px;
  overflow: hidden;
  margin-bottom: 0;
}

.productList-item {
  width: 230px;
  height: 350px;
  background: #fff;
  margin-right: 12px;
  margin-bottom: 12px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
  position: relative;
  top: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 20px;

  /*圆角20px*/
}

.productList-lastItem {
  margin-right: 0;
}

// * CROUSAL-STARTS */
#sg-carousel {
  position: relative;
  height: 100vh;
}

#sg-carousel .carousel-inner .item {
  height: 100vh;
}

.carousel-caption {
  top: 50%;
}

.carousel-caption h1 {
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#sg-carousel .carousel-control.left {
  top: 48%;
}

#sg-carousel .carousel-control.right {
  top: 48%;
}

.uppr-txt {
  text-transform: uppercase;
  color: #fff;
  font-size: 35px;
}

#sg-carousel .carousel-control.left,
#sg-carousel .carousel-control.right {
  background-image: none;
  background-repeat: no-repeat;
  opacity: 0;
  text-shadow: none;
  transition: all 0.8s ease 0s;
}

.carousel-control {
  bottom: 0;
  color: #fff;
  font-size: 20px;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  top: 0;
  width: auto;
  transition: all 0.8s ease 0s;
}

.carousel-inner {
  box-shadow: 2px 6px 21px;
}

.fa-angle-right,
.fa-angle-left {
  font-size: 80px;
}

#sg-carousel:hover .carousel-control.left {
  left: 38px;
  transition: all .2s ease 0;
}

#sg-carousel:hover .carousel-control.right {
  right: 38px;
  transition: all .2s ease 0;
}

#sg-carousel:hover .carousel-control.left,
#sg-carousel:hover .carousel-control.right {
  opacity: 1;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.item.active img {
  transition: transform 5000ms linear 0s;
  transform: scale(1.05, 1.05);
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
  font-size: 80px;
}

.carousel-caption {
  left: 60%;
  padding-bottom: 5%;
  right: 0;
  text-align: left;
}

.carousel-caption h1 {
  font-family: raavi;
  font-size: 60px;
  font-weight: 600;
  line-height: 18px;
}

.carousel-caption > p {
  font-size: 30px;
  color: #fff;
}

.carousel-caption > a {
  text-transform: uppercase;
  color: #fff;
  background: #041132;
  padding: 6px 12px;
}

.button--tamaya {
  border: 2px solid #40a304 !important;
  border-radius: 5px;
  color: #7986cb;
  min-width: 180px;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button--border-thick {
  border: 3px solid;
}

.button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: inherit;
  display: block;
  float: left;
  max-width: 250px;
  min-width: 199px;
  padding: 1em 7em;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}

.button--tamaya::before {
  padding-top: 1em;
  top: 0;
}

.button--tamaya::before,
.button--tamaya::after {
  background: #40a304;
  color: #fff;
  content: attr(data-text);
  height: 50%;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.3, 1) 0s;
  width: 100%;
}

.button--tamaya::after {
  bottom: 0;
  line-height: 0;
}

.button--tamaya:hover::before {
  transform: translate3d(0px, -100%, 0px);
}

.button--tamaya:hover::after {
  transform: translate3d(0px, 100%, 0px);
  color: #40a304;
}

.button--tamaya:hover {
  color: #40a304;
  font-weight: 600;
}

.carousel-indicators li {
  background-color: #b3b5b9;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 1px;
  text-indent: -999px;
  width: 12px;
  border: 0;
}

.carousel-indicators .active {
  background-color: #041132;
  height: 12px;
  margin: 0;
  width: 12px;
  border: 0;
}

#sg-carousel h1 {
  animation-delay: 1s;
  margin-bottom: 25px;
}

#sg-carousel p {
  animation-delay: 2s;
}

#sg-carousel button {
  animation-delay: 3s;
  margin-top: 25px;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/*===== Service 首页-服务优势 =====*/
.service-box {
  /* 区块 */
  background-color: #f8f8f8;
  text-align: center;
  padding: 25px 62.5px 50px 62.5px;

  //区块间隔

  /* 图片 */
  img {
    width: 100px;
  }

  /*===== 内容区块 =====*/
  .box {
    margin: 0 25px 0 25px;

    /* 标题 */
    h3 {
      font-size: 18px;
    }

    /* 内文 */
    p {
      color: #666;
      line-height: 24px;
      margin-top: 25px;
      text-align: center;
    }
  }
}

/*===== Categories 首页-商品分类 =====*/
.categories-box {
  /* 区块 */
  background-color: #fff;
  text-align: center;

  /* 图片 */
  img {
    width: 380px;
  }

  /*===== Content 分类內容 =====*/
  .category-content {
    padding: 50px 0 0 0;

    /* 标题 */
    h3 {
      padding: 20px 0 20px 0;
      font-size: 18px;
    }

    /* 内文 */
    p {
      padding: 0 62.5px 50px 62.5px;
      text-align: center;
      color: #666;
    }
  }
}
